@tailwind base;
@tailwind components;
@tailwind utilities;
*,::before,::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--grey:#F4F4F4;
	--black:#000;
	--dark-medium:#353535;
	--white:#fff;
	--ligth-black:#232323;
	--purple:#5D47E9;
	--mint:#E4F6FF;
	--green:#D3FF24;
}

